@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сайт с партиями</title>
</head>
<body>
    <h3>Партии России</h3>
    <select style="width:300px;height:300px;line-height:3em;overflow:scroll;padding:5px;">
        @foreach (var c in ViewBag.Consignments)
        {
            <option
                value="@c.Name">
            </option>
        }
    </select>
    <button> <a href="/Home/More/@c.Id">Узнать больше</button>
    <button> <a href="/Home/More/@c.Id">Редактировать</button>
</body>
</html>