@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сайт с партиями</title>
</head>
<body>
    <div>
        <h3>Партии России</h3>
        <table>
            <tr>
                <td><p>Название партии</p></td>
                <td></td>
            </tr>
            @foreach (var c in ViewBag.Consignments)
            {
                <tr>
                    <td><p>@c.Name</p></td>
                    <td><p><a href="/Home/More/@c.Id">Узнать больше</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>