@using ConsignmentsWebApp.Models
@model Consignment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>О партии @Model.Name</title>
</head>
<body>
    <div>
        <h3>О партии @Model.Name</h3>
        <ul>
            @foreach (Location l in Model.Locations)
            {
                <li>@l.Name</li>
            }
        </ul>
    @* TODO: Вывести списком все локации *@
</div>
</body>
</html>
